.nav {
  width: 100%;
  top: 0;
  left: 0;
  height: 90px;
  display: flex;
  align-items: center;

  .logo {
    max-height: 40px;
  }

  &__menu {
    width: 100%;
    &--right {
      justify-content: flex-end;
    }
  }

  &__link {
    color: #fff;
    font-size: 0.95rem;
    &:hover {
      color: var(--white);
    }
  }
}
