.testimonial {
  &__box {
    border-radius: 13px;
    margin-bottom: 2rem;
    box-shadow: 0px 4px 22px 3px rgba(0, 0, 0, 0.11);
  }
  &__avatar {
    width: 115px;
    height: 115px;
    min-width: 115px;
    border-radius: 50%;
    border: 4px solid #fff;
    font-weight: 500;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  &__text {
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
    color: rgba(25, 60, 87, 0.86);
    line-height: 1.6;
  }
  &__label {
    color: #738899;
    font-size: 0.89rem;
    font-weight: 700;
  }
  &__bg {
    bottom: 0;
    right: 0;
    &-two {
      left: 0;
      top: 0;
    }
  }
}
